<div
style="width: min(280px, 100vw); height: 100vh;"
class="sidebar-container text-bg-dark d-none d-lg-flex flex-column">
  <div
  style="height: 80px; place-items: center;"
  class="logo d-grid">
    <h3 class="m-0 text-white">Marca</h3>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <span class="nav-header">
        MENU
      </span>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#" aria-current="page">
          <i class="fa-solid fa-border-all"></i>
          Dashboard
        </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="" class="nav-link disabled">
              Ecommerce
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              Marketing
            </a>
          </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-regular fa-calendar-days"></i>
          Calendar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-regular fa-user"></i>
          Profile
        </a>
    </li>
  </ul>
</div>
