<div
style="width: min(280px, 100vw); min-height: 100%; padding-bottom: 25px;"
class="sidebar-container text-bg-dark d-flex flex-column">
  <div
  style="height: 80px; place-items: center;"
  class="logo d-grid">
    <h3 class="m-0 text-white">Marca</h3>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <span class="nav-header">
        MENU
      </span>
    </li>
    <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/dashboard"
          routerLinkActive="active">
          <i class="fa-solid fa-border-all"></i>
          Dashboard
          <i
          (click)="collapseToggle.checked = !collapseToggle.checked"
          style="left: auto; padding: 0 var(--bs-nav-link-padding-x); transition: all .3s ease-in-out;"
          [class.expanded]="collapseToggle.checked"
          class="fa-solid fa-chevron-down fs-14-medium end-0 fw-bolder btn-icon-toggle"></i>
        </a>
        <ul #dashboardCollapse="bs-collapse"
        [collapse]='!collapseToggle.checked'
        [isAnimated]="true"
        class="nav flex-column">
        <input type="checkbox" #collapseToggle class="d-none">
          <li class="nav-item">
            <a href="" class="nav-link disabled pro-feature">
              Ecommerce
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              Marketing
            </a>
          </li>
        </ul>
    </li>
    <li class="nav-item">
        <a
        class="nav-link"
        routerLink="/calendar"
        routerLinkActive="active">
          <i class="fa-regular fa-calendar-days"></i>
          Calendar
        </a>
    </li>
    <li class="nav-item">
        <a
        class="nav-link"
        routerLink="/profile"
        routerLinkActive="active">
          <i class="fa-regular fa-user"></i>
          Profile
        </a>
    </li>
  </ul>
</div>
