<nav
style="height: 80px;"
class="navbar navbar-expand-sm bg-white border-bottom">
  <div class="container px-lg-4">
    <div
    style="max-width: 300px; height: 30px;"
    class="search-bar d-flex flex-grow-1">
      <label for="search-bar" style="width: 20px; height: 20px;"
      class="d-grid align-content-center justify-content-center my-auto me-2">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
      <input
      style="outline: 0 !important;"
      id="search-bar"
      class="border-0 flex-grow-1" type="text" placeholder="Procurar">
    </div>
    <div class="nav-right d-flex gap-3 align-items-center">
      <button type="button" class="btn btn-gray border circle-46px d-grid align-content-center justify-content-center">
        <i class="fa-regular fa-bell fs-5 text-body-color"></i>
      </button>
      <button type="button" class="btn btn-gray border circle-46px d-grid align-content-center justify-content-center">
        <i class="fa-regular fa-comment-dots fs-5 text-body-color"></i>
      </button>
      <button type="button" class="btn border-0 bg-transparent">
        <div class="user d-flex">
          <div class="user-info d-flex flex-column text-end me-2 justify-content-center">
            <span class="p-0 m-0 text-header-color default-text">User Teste</span>
            <span class="p-0 m-0 text-small">userteste@gmail.com</span>
          </div>
          <div
          class="profile-pic rounded-pill circle-46px bg-primary">
          </div>
        </div>
      </button>
    </div>
  </div>
</nav>
