<div
style="max-width: 970px !important;"
class="container page-container">
  <h3 class="page-header">Profile</h3>
  <div
  class="card w-100 mx-auto rounded-0 border shadow-sm">

    <div class="card-cover position-relative">
      <img
      style="height: 260px; width: 100%; object-fit: cover;"
      src="/assets/images/profile-cover.jpg">
      <button type="button" class="btn btn-primary m-3 position-absolute bottom-0 end-0">
        <i class="fa-solid fa-camera me-2"></i>
        Editar
      </button>
    </div>
    <div
    class="card-body align-items-center justify-content-center d-flex flex-column position-relative text-center">
    <div
    style="transform: translateY(-50%); margin-bottom: -60px;"
    class="profile-pic-area position-relative top-0">
      <img
      style="height: 160px; width: 160px; object-fit: cover; border-width: 8px !important;"
      src="/assets/images/profile-cover.jpg"
      class="profile-pic rounded-pill border border-white">
      <button
      style="bottom: 16px; right: 16px;"
      class="btn btn-primary p-0 fs-14-medium position-absolute circle-32px">
        <i class="fa-solid fa-camera"></i>
      </button>
    </div>
      <div class="card-content">
        <h6>Nome do usuário</h6>
        <span class="default-text">Emprego/Função</span>

        <p class="mt-4 text-header-color fw-bold mb-1">About me</p>
        <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit alias rerum cumque veritatis debitis voluptatem autem? Veniam, similique a eaque, quos nobis natus autem facere quisquam necessitatibus laboriosam sit perferendis!</p>
      </div>
    </div>
  </div>
</div>
