<div class="card rounded-0 border-0 position-relative">
  <div class="card-border rounded-0 border-0 my-4 border-end">
    <div class="card-content position-relative">
      <div class="content-header d-flex align-items-center">
        <h4
        style="padding: 0px 13px;"
        class="card-header border-0 bg-transparent">
          {{title}}
        </h4>
        <div class="card-feedback text-green text-end">
          <i class="fa-solid fa-arrow-up me-1"></i>
          {{feedback}}
        </div>
      </div>
      <div
      style="padding: 0px 13px;"
      class="card-body default-text">
        {{description}}
      </div>
    </div>
  </div>
</div>
