<div
class="container px-lg-4 page-container mt-2 pt-1 pt-lg-0 mt-lg-4 d-flex flex-column gap-3"
>
  <app-card-with-header></app-card-with-header>
  <div class="border row p-0 m-0 shadow-sm">
    <app-card-mini-info class="col p-0" [title]="'18.6K'" [feedback]="'16%'" [description]="'Visitors'"></app-card-mini-info>
    <app-card-mini-info class="col p-0" [title]="'32.9K'" [feedback]="'76%'" [description]="'Total Pageviews'"></app-card-mini-info>
    <app-card-mini-info class="col p-0" [title]="'54%'" [feedback]="'6%'" [description]="'Bounce Rate'"></app-card-mini-info>
    <app-card-mini-info class="col p-0" [title]="'2m 56s'" [feedback]="'12%'" [description]="'Visit Duration'"></app-card-mini-info>
  </div>
</div>
