<div
class="container page-container"
>
<h3 class="page-header">Dashboard</h3>

  <div class="row m-0 p-0 gap-3 w-100">
    <div class="col-12 col-lg m-0 p-0">
      <app-card-with-header class="h-100 d-grid" [card]="cardWithHeader"></app-card-with-header>
    </div>
  </div>

  <app-card-mini-info [cards]="cardMiniInfo"></app-card-mini-info>

  <div class="row m-0 p-0 gap-3 w-100">
    <div class="col-12 col-lg m-0 p-0">
      <app-card-with-header class="h-100 d-grid" [card]="cardWithHeader"></app-card-with-header>
    </div>
    <div class="col-12 col-md m-0 p-0 d-flex flex-column gap-3">
      <app-card-table [card]="cardTableContent.card" [table]="cardTableContent.table"></app-card-table>
      <app-card-table-stripped [card]="cardTableChannels.card" [table]="cardTableChannels.table"></app-card-table-stripped>
    </div>
  </div>


</div>
